.Card {
  box-sizing: border-box;
  width: 280px;

  @include mq(tablet) {
   
    width: 336px;
  }
  @include mq(desktop) {
    
    width: 395px;
  }
  border-radius: $radius;
}

.CardThumb {
  position: relative;

  width: 100%;
  overflow: hidden;
  
  transition: box-shadow $animation-timing-function;

  &:hover,
  &:focus {

    box-shadow: 0 0 20px 5px rgba(255, 107, 1, 0.1),
      0 0 12px 3px rgb(255, 107, 0.1);
  }
}

.CardOverlay {
  position: absolute;
  left: 0;
  bottom: 0;

 display: flex;
 justify-content: center;

 opacity: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.5);

  transition: opacity $animation-timing-function;
  &:hover,
  &:focus {
    opacity: 1;
  }
}
.CardText {
display: flex;
justify-content: center;
align-items: center;
  width: 100%;

  padding: 0 40px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: $main-black-color;
}

.CardImage {
  width: 100%;
  height: 398px;
  object-fit: cover;
  
  @include mq(tablet) {
    height: 455px;
  }
  @include mq(desktop) {
    height: 574px;
  }
}

.CardTitle {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.33;
  padding-top: 8px;

  @include mq(desktop) {
    font-size: 20px;
    line-height: 1.2;
    padding-top: 10px;
  }
}

.CardCaption {
  display: flex;
  align-items: center;
  // padding: 5px 0;
}

.CardInfo {
  font-size: 12px;
  line-height: 1.33;

  color: $accent-orange;

  @include mq(desktop) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.CardRating {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 16px;
  width: 36px;

  margin-left: 9px;
  border-radius: $radius;

  font-size: 12px;
  line-height: 1, 17;

  color: $main-white-color;
  background-color: $accent-orange;

  @include mq(tablet) {
    margin-left: 8px;
  }
  @include mq(desktop) {
    height: 20px;
    width: 40px;

    margin-left: 8px;
  }
}

