.backdrop.footer__backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    // overflow-y: scroll;
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and(max-width: 767px) {
      align-items: center;
    }
  
    &.is-hidden {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
  
      .footer-modal {
        transform: scale(1.5);
        background-color: rgba(255, 255, 255, 0.788);
      }
    }
  }
  
  .footer__backdrop {
    z-index: 1000;
  }
  
  .footer-modal {
    z-index: 1000;
    width: 800px;
    height: 500px;
    background-color: rgb(177, 176, 176);
    padding-top: 15px;
    border-radius: 10px;
    
  
    background: linear-gradient(
      180deg,
      rgb(255, 255, 255) 0%,
      #FF6B08 150%
    );
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 144% 62%;
  
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 0px 100px 15px rgba(#FF6B08, 0.2);
  
    &::-webkit-scrollbar {
      width: 8px;
    }
  
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: rgba(253, 254, 255, 0.2);
      outline: none;
      border-radius: 10px;
    }
    @include mq(tablet) {
      width: 600px;
      height: 500px;
    } 
    @include mq(desktop) {
      width: 800px;
      height: 500px;
    }
    @media screen and(max-height:430px) {
      height: 90vh;
      overflow-y: scroll;
    }
  }
  
  body.modal-open {
    overflow: hidden;
  }
  
  .glide__slide {
    border: none;
    width: 0.9vh;
    @media screen and(min-width:768px) {
      width: 350px;
      background-position: 134% 62%;
    }
  }
  
  .footer-modal__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    // margin-top: auto;
    margin-bottom: auto;
  }
  
  .fa-xl {
    color: #e8eaee;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      transform: scale(1.2);
      color: var(--accent-color);
    }
  }
  
  .footer__social {
    display: flex;
    // @media screen and(min-width:768px) {
    //   margin-bottom: 15px;
    // }
  }
  
  .student__card {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  
  .student-foto {
    width: 190px;
    height: auto;
    border-radius: 50%;
  }
  
  .student__name {
    font-family: 'Roboto';
    padding-bottom: 8px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.15;
    letter-spacing: 0.04em;
  
    color: $main-black-color;
    // margin-bottom: 10px;

    // @media screen and(min-width:768px) {
    //   font-size: 25px;
    //   margin-bottom: 15px;
    // }
  }
  
  .student__role {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.04em;
    font-weight: bold;
  
    color: $main-black-color;
    margin-bottom: 10px;
    @media screen and(min-width:768px) {
      margin-bottom: 15px;
      font-size: 20px;
      
    }
  }
  
  .student__about {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.04em;
  
    color: #76787e;
    margin-bottom: 10px;
    text-align: center;
    // @media screen and(min-width:768px) {
    //   font-size: 20px;
    //   margin-top: 25px;
    // }
  }
  
  .glide__slides--footer {
    display: flex;
  }

  .headshot {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin: 20px;
    height: calc(100px + 6vw);
    width: calc(100px + 6vw);
    border: calc(8px + 0.2vw) solid transparent;
    background-origin: border-box;
    // background-clip: content-box, border-box;
    background-size: cover;
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  }
  
  .headshot-1 {
    border-radius: 30%;
    background-image: linear-gradient(#f9f047, #0fd850);
  }

  .headshot-2 {
    border-radius: 50%;
    background-image:  linear-gradient(to bottom right, #FF6B08, #fff);
  }
  
  .headshot-3 {
    border-radius: 50% 10%;
    background-image:  linear-gradient(to bottom left, #f83600, #f9d423);
  }

  .fav_movie {
    font-family: 'Roboto';
    padding-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.15;
    letter-spacing: 0.04em;
  
    color: #332f2e;
  }
  
  .fav_serie {
    font-family: 'Roboto';
    padding-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.15;
    letter-spacing: 0.04em;
  
    color: #271606;
  }

// quotes
.quotes {
  border-radius: 5px;
  background-color: #f7f7f7;
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;}
}
.quote {
  font-style: italic;
  font-size: .9em;
  text-indent: 0em;
  margin: 0em 0 0.25em 0;
  line-height: 1.25em;
  z-index: 1;
  
}
