.gallery, 
.library {
  display: flex;
  flex-wrap: wrap;
  

  padding-top: 20px;
  padding-bottom: 40px;
  gap: 20px;

        @include mq(tablet-only) {
          padding-top: 60px;
          padding-bottom: 60px;
          gap: 31px;
        }
      
        @include mq (desktop) {
          padding-top: 60px;
          padding-bottom: 60px;
          gap: 14px;
        }
  
}
