.gallery, 
.library {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 40px;
  margin:0 -16px;
      @include mq(mobile-only) {
          &:not(:last-child) {
            margin-bottom: 20px;
          }
        }
      
        @include mq(tablet-only) {
          flex-basis: calc((100% - 2 * 32px) / 2);
        }
      
        @include mq (desktop) {
          flex-basis: calc((100% - 3 * 32px) / 3);
        }
  
}
