.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;

    opacity: 1;
    visibility: visible;

    @include mq(mobile-only) {
        overflow-y: scroll;
    }
}

.box {
    position: relative;
}

.modal {
    position: relative;
    background-color: $main-white-color;
    max-width: 280px;
    box-sizing: border-box;
    padding: 48px 20px 40px 20px;
    border-radius: 20px;

    box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
            -23px 0 20px -23px rgba(0, 0, 0, .6),
            23px 0 20px -23px rgba(0, 0, 0, .6),
            inset 0 0 40px rgba(0, 0, 0, .1);

    @media screen and (min-width: 330px) {
        left: 50%;
        transform: translateX(-50%);
    }


    @include mq(tablet) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 704px;
        display: flex;
        padding: 40px 72px 40px 36px;
    }

    @include mq (desktop) {
        max-width: 806px;
        padding: 40px 12px;
    }
}

img {
    margin-bottom: 20px;
    height: 357px;
    border-radius: 10px;

    transition: scale 500ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        scale: 1.01;
    }

    @include mq(tablet) {
        min-width: 264px;
        height: 373px;
        margin-right: 68px;
        margin-bottom: 0;
    }

    @include mq(desktop) {
        width: 375px;
        height: 478px;
        margin-right: 16px;
    }
}

.film-card__title {
    min-width: 240px;
    min-height: 23px;
    text-transform: uppercase;
    font-size: 20px;

    line-height: 1.15;

    margin-bottom: 20px;

    @include mq(tablet) {
        min-width: 264px;
        min-height: 20px;
        line-height: 1.15;
    }

    @include mq (desktop) {
        min-width: 266px;
        min-height: 31px;

        font-size: 30px;
        line-height: 1.17;
    }
}

.film-card__features {
    display: flex;
    margin-bottom: 20px;
    height: 88px;
}

.film-card__feature-list {
    margin-right: 41px;

    @include mq(tablet) {
        margin-right: 39px;
    }
}

.film-card__feature-name {
    min-width: 69px;
    min-height: 16px;
    
    font-size: 12px;
    line-height: 1.33;
    
    color: $main-grey-color;

    &:not(:last-child) {
        margin-bottom: 8px;
    }

    @include mq(tablet) {
        width: 55px;
    }

    @include mq(desktop) {
        width: 67px;
    }
}

.film-card__feature-description {
    display: block;
    min-width: 31px;
    min-height: 16px;

    font-size: 12px;
    line-height: 1.33;
    
    display: flex;
    align-items: center;
    text-align: center;


    &:not(:last-child) {
        margin-bottom: 8px;
        min-width: 107px;
    }

    @include mq(tablet) {
        min-width: 28px;
        line-height: 1.17;
    }
}

.divider {
    color: $main-grey-color;
    width: 8px;
}

.original-title {
    text-transform: uppercase;
}

.vote {
    display: inline-block;
    min-width: 36px;
    height: 16px;
    
    background: #FF6B01;
    border-radius: 5px;

    font-size: 12px;
    line-height: 1.17;

    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: $main-white-color;
}

.about__title {
    width: 39px;
    height: 16px;

    font-size: 12px;
    line-height: 1.33;
    
    align-items: center;
    text-transform: uppercase;

    margin-bottom: 8px;

    @include mq(tablet) {
        width: 78px;
    }

    @include mq(desktop) {
        width: 65px;
    }
}

.about__text {
    width: 240px;

    font-size: 12px;
    line-height: 1.67;
    margin-bottom: 20px;

    @include mq(tablet) {
        width: 264px;
    }

    @include mq(desktop) {
        width: 391px;
    }
}

.button__box {
    display: flex;
}

.button {
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 1.33;

    align-items: center;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid $main-black-color;
    border-radius: 5px;

    min-width: 110px;
    height: 44px;

    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
                border 300ms cubic-bezier(0.4, 0, 0.2, 1),
                color 300ms cubic-bezier(0.4, 0, 0.2, 1),
                scale 300ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: #FF6B01;
        border-radius: 5px;
        border: none;
        color: $main-white-color;
        scale: 1.1;
    }

    @include mq(tablet) {
        width: 125px;
    }

    @include mq(tablet) {
        width: 136px;
    }
}

.button__watch {
    padding: 6px 27px;
    
    margin-right: 20px;

    @include mq(tablet) {
        padding: 14px 9px;
        margin-right: 15px;
    }

    @include mq(desktop) {
        padding: 14px 10px 12px 10px;
    }
}

.button__watch:focus,
.button__queue:focus {
    background-color: $accent-red;
    color: $main-white-color;
    border: none;
}

.button__queue {
    padding: 13px 12px;

    @include mq(tablet) {
        padding: 13px 7px;
    }

    @include mq(desktop) {
        padding: 13px 8px;
    }
}

.button__modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 8px;

    background-color: transparent;
    border: none;

    width: 30px;
    height: 30px;

    transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1),
                scale 300ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        fill: $accent-orange;
        scale: 1.5;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
