
.tui-pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  @include mq(mobile){
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  
  }
  @include mq(tablet){
   max-width: 450px;
   margin-bottom: 60px;
  
  
  }
}
.tui-pagination__search{
  display: flex;
  justify-content: center;
  align-items: center;
  @include mq(mobile){
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  
  }
  @include mq(tablet){
   max-width: 450px;
   margin-bottom: 60px;
  
  
  }

}




.tui-page-btn {
  display: inline-block;
  position: relative;
  width: 38px;
  padding: 8px 0 6px;
  margin-left: 0;
  color: $main-black-color;
  font-size: 12px;
  width: 40px;
  height: 40px;
  text-decoration: none;
  vertical-align: middle;
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
border-radius: 5px;
line-height: 16px;

}
.tui-page-btn:hover{

  border: 2px solid $accent-orange;
    border-radius: 5px;
    width: 36px;
    height: 36px;
 
}



.tui-page-btn {
  display: flex;
  justify-content: center;
  align-items: center;
padding: 0;}



.tui-is-selected {
  color: $main-black-color;
  background: $accent-orange;
  border-color: $accent-orange;
  cursor: default;
 

  
  
  border-radius: 5px;}
  
  .tui-first,.tui-last,.visibility{
  position: absolute;
    width: 0px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  
    border: 0px;
}
.tui-ico-prev{
  background-image: url(../images/left.svg);
  width: 16px;
  height: 16px;
}
.tui-ico-next{
  background-image: url(../images/right.svg);
  width: 16px;
  height: 16px;
}

.tui-ico-prev{
  width: 16px;
  height: 16px;
}
.tui-next-is-ellip,.tui-prev-is-ellip {
@media screen and (max-width:767px) {
  position: absolute;
    width: 0px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
   
}
}
.dark-btn{
  color: $main-white-color;
}