@import './utils/resets';
@import './utils/vars';
@import './utils/mixin';
@import './utils/common-styles';
@import './header';
@import './footer';
@import './authorization';
@import './card';
@import './homepage';
@import './loader';
@import './modal';
@import './pagination';
@import './popular';
@import './searching';
@import './team';
@import './watch-queue';
@import './scroll-button';
