body {
    color: $main-black-color;
    background-color: $main-white-color;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    
    @include mq(mobile-only) {
        width: 320px;
        padding-left: 20px;
        padding-right: 20px;
    }

    @include mq(tablet-only) {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    @include mq (desktop) {
        width: 1280px;
        padding-left: 32px;
        padding-right: 32px;
    }
}


