$main-white-color: #FFFFFF;
$main-black-color: #000000;
$footer-color: #F7F7F7;

$main-grey-color: #8C8C8C;
$sec-grey-color: #545454;

$accent-orange: #FF6B08;
$accent-red: #FF001B;

$radius: 5px;

$animation-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);