<div class="footer__backdrop is-hidden">
    <div class="modal">
        <div class="glide_footer">
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides--footer"></ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
                  <button style="padding: 10px;
            box-shadow: none;
            border: none; left: 10px" class="glide__arrow glide__arrow--left arrow__footer" data-glide-dir="<">&#5130;</button>
                  <button style="padding: 10px;
            box-shadow: none;
            border: none; right: 10px" class="glide__arrow glide__arrow--right arrow__footer" data-glide-dir=">">&#5125;</button>
              </div>
              <button class="button__modal-close">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="14"
                  class="bi bi-x-lg"
                  viewBox="0 0 32 32"
                >
                  <path d="M32 3.223l-3.223-3.223-12.777 12.777-12.777-12.777-3.223 3.223 12.777 12.777-12.777 12.777 3.223 3.223 12.777-12.777 12.777 12.777 3.223-3.223-12.777-12.777 12.777-12.777z"></path>
                </svg>
              </button>
        </div>
    </div>
</div>  