<div class="box"><div>

    <!-- старая разметка деталей карточки в моддальном окне -->
    
    <!-- <div class="film-card__features">
        <ul class="film-card__feature-list">
            <li class="film-card__feature-name">Vote / Votes</li>
            <li class="film-card__feature-name">Popularity</li>
            <li class="film-card__feature-name">Original Title</li>
            <li class="film-card__feature-name">Genre</li>
        </ul>
    
        <ul>
            <li class="film-card__feature-description"><span class="vote">${respData.vote_average.toFixed(1)}</span> <span
                    class="divider"> / </span> ${respData.vote_count}</li>
            <li class="film-card__feature-description">${respData.popularity.toFixed(1)}</li>
            <li class="film-card__feature-description original-title">${respData.original_title}</li>
            <li class="film-card__feature-description">${genreList}</li>
        </ul>
    </div> -->